<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>大家好我叫欧阳锋</title>
</head>
<body>
<font>大家好我叫欧阳锋，这是我的个人主页，下面是我的帅照</font>
<p/>
<img src="1.jpg"  />
<p/>
<form action="/cxk" method="post">
<font color="blue">点击此处给小峰峰发垃圾邮件</font>
<p/>
	收件：<input type="text" th:value="${email}" name="email"><br/>
	标题：<input type="text" th:value="${title}" name="title"><br/>
	内容：<input type="text" th:value="${text}" name="text" size = 100><br/>
<button >发送</button>
</form>
<p/>
<font color="red">更多功能陆续上线,敬请期待</font>
</body>
</html>
